.hidden {
  display: none;
}
body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* для планшету */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* ,десктоп */
@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

section {
  padding: 96px 0;
}

@media (min-width: 1158px) {
  section {
    padding: 120px 0;
  }
}

/* ----------ХЕДЕР---------- */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  display: none;
}

.contacts {
  display: none;
}

/* логотип хедер футер */
.logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2e2f42;
}

.header-logo,
.color-footer-logo {
  color: #4d5ae5;
}

.footer-logo {
  color: #f4f4fd;
  margin-bottom: 16px;
  display: block;
  max-width: 115px;
}

.header-logo-page {
  padding: 16px 0;
  display: block;
}

.burger {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }

  .header-nav {
    display: flex;
    gap: 40px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link-after {
    color: #404bbf;
    position: relative;
  }

  .header-logo-page {
    padding: 24px 0;
    display: block;
    margin-right: 120px;
  }

  .site-nav {
    display: flex;
    gap: 40px;
  }

  .nav-link-after::after {
    position: absolute;
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    display: block;
    left: 0;
    bottom: -1px;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
    outline: none;
  }

  .header-nav {
    display: flex;

    align-items: center;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
    outline: none;
  }
}

@media (min-width: 1158px) {
  .header-logo-page {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* mobile menu */
@media (min-width: 320px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 320px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;

    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition:
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-nav {
    margin-bottom: auto;
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: #404bbf;
  }

  .mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
  }

  .mobile-menu-contacts-item {
    font-style: normal;
  }

  .mobile-menu-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-contacts-link:hover,
  .mobile-menu-contacts-link:focus {
    color: #4d5ae5;
  }

  .social-list {
    display: flex;
    gap: 40px;
  }
  .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* перша секція */

.main-section {
  max-width: 320px;
  background-color: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-mob-1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  margin: 0 auto;
}

.main-title {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-weight: 700;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: #404bbf;
  outline: none;
}
