.hidden {
  display: none;
}
body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* для планшету */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* ,десктоп */
@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

section {
  padding: 96px 0;
}

@media (min-width: 1158px) {
  section {
    padding: 120px 0;
  }
}

/* ----------ХЕДЕР---------- */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: none;
}

.contacts {
  display: none;
}

/* логотип хедер футер */
.logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2e2f42;
}

.header-logo,
.color-footer-logo {
  color: #4d5ae5;
}

.footer-logo {
  color: #f4f4fd;
  margin-bottom: 16px;
  display: block;
  max-width: 115px;
}

.header-logo-page {
  padding: 16px 0;
  display: block;
}

.burger {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }

  .header-nav {
    display: flex;
    gap: 40px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link-after {
    color: #404bbf;
    position: relative;
  }

  .header-logo-page {
    padding: 24px 0;
    display: block;
    margin-right: 120px;
  }

  .nav-link-after::after {
    position: absolute;
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    display: block;
    left: 0;
    bottom: -1px;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
    outline: none;
  }

  .logo-nav-container {
    display: flex;

    align-items: center;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
